<ion-view view-title="{{chat.title}}">
  <ion-content class="padding">
    <!--
    <img ng-src="{{chat.pic_url}}" style="width: 64px; height: 64px">
    <p>
      {{chat.content}}
    </p>-->
    <div class="list card">

  <!--<div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>Marty McFly</h2>
    <p>November 05, 1955</p>
  </div>-->

  <div class="item item-body">
    <img class="full-image" src="{{chat.pic_url}}">
    <p>
      {{chat.content}} 
    </p>
    
    <!--<p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>-->
  </div>

  <!--<div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>-->

</div>
  </ion-content>
</ion-view>
